{% extends "layout.html" %}
{% block head %}
  <title>Home - Patrick Freitas</title>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/38871336?s=460&v=4" alt="Patrick Freitas  ">
    <h1>Patrick Freitas</h1>
    <h2>Support WordPress</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam non ullam nemo dolore officia commodi nisi ratione
      deleniti, tempora molestiae enim magni? Amet accusamus saepe eveniet quis corrupti laboriosam tempora.</p>
  </div>
  <div class="links">
    <a href="/">Github</a>
    <a href="/">Twitter</a>
    <a href="/">linkedin</a>
  </div>
{% endblock %}