{% extends "layout.html" %}
{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Portfolio Patrick Freitas</title>
{% endblock %}
{% block content %}
  <div id="wrapper">
    <h1>Aulas</h1>
  </div>
  <section class="cards">
    <div class="card" id="95PD6Jhb7u8">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
    <div class="card">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
    <div class="card">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
    <div class="card">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
    <div class="card">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
    <div class="card">
      <div class="card__image-container">
        <img src="https://img.youtube.com/vi/95PD6Jhb7u8/maxresdefault.jpg" alt="WPMU DEV">
      </div>
      <div class="card__content">
        <p>WPMU DEV Is Your All-In-One WordPress Platform</p>
      </div>
      <div class="card__info">
        <p>2.33m</p>
        <div class="card__price">Free</div>
      </div>
    </div>
  </section>
  <div class="moda-overlay">
    <div class="modal">
      <a class="close-modal">
        <span class="material-icons">
          close
        </span>
      </a>
      <div class="modal-content">
        <iframe
          width="100%"
          height="90%"
          src=""
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen="allowfullscreen"></iframe>
      </div>
    </div>
  </div>
  <script src="scripts.js"></script>
{% endblock %}