<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodfy</title>
    <link rel="stylesheet" href="assets/css/styles.css">
  </head>
  <body>
    <header class="container" id="foodfy__header">
      <a id="foodfy__header-logo" href="/"><img src="assets/imgs/logo.png" alt="Logo"></a>
      <ul id="foodfy__header-menu">
        <li>
          <a href="sobre.html">Sobre</a>
        </li>
        <li>
          <a class="active" href="receitas.html">Receitas</a>
        </li>
      </ul>
    </header>
    <main class="container foodfy__recipes" id="foodfy__main">
      <section class="foodfy__main__populars">
        <div class="foodfy__main__populars__wrapper">
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/burger.png" alt="Burger">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Triplo bacon burger</h3>
              <h4>por Jorge Relato</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/pizza.png" alt="Pizza">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Pizza 4 estações</h3>
              <h4>por Fabiana Melo</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/espaguete.png" alt="Espaguete">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Espaguete ao alho</h3>
              <h4>por Júlia Kinoto</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/lasanha.png" alt="Lasanha">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Lasanha mac n’ cheese</h3>
              <h4>por Juliano Vieira</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/doce.png" alt="Docinhos">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Docinhos pão-do-céu</h3>
              <h4>por Ricardo Golvea</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/asinhas.png" alt="Asinhas">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Asinhas de frango ao barbecue</h3>
              <h4>por Vania Steroski</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/burger.png" alt="Burger">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Triplo bacon burger</h3>
              <h4>por Jorge Relato</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/pizza.png" alt="Pizza">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Pizza 4 estações</h3>
              <h4>por Fabiana Melo</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/espaguete.png" alt="Espaguete">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Espaguete ao alho</h3>
              <h4>por Júlia Kinoto</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/lasanha.png" alt="Lasanha">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Lasanha mac n’ cheese</h3>
              <h4>por Juliano Vieira</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/doce.png" alt="Docinhos">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Docinhos pão-do-céu</h3>
              <h4>por Ricardo Golvea</h4>
            </div>
          </div>
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="assets/imgs/asinhas.png" alt="Asinhas">
            </div>
            <div class="foodfy__main__popular-info">
              <h3>Asinhas de frango ao barbecue</h3>
              <h4>por Vania Steroski</h4>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="foodfy__footer">
      <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <div id="modal-overlay">
      <div id="modal-content">
        <div class="modal-image"><img></div>
        <div class="modal-info">
          <h2></h2>
          <h3></h3>
        </div>
        <p class="close-modal">
          <a id="close-btn">Fechar Modal</a>
        </p>
      </div>
    </div>
    <script src="assets/js/scripts.js"></script>
  </body>
</html>