{% extends "layout.njk" %}
{% block content %}
  <main class="container foodfy__recipes" id="foodfy__main">
    <section class="foodfy__main__populars">
      <div class="foodfy__main__populars__wrapper">
        {% for receita in receitas %}
          <div class="foodfy__main__popular">
            <div class="foodfy__main__popular-img">
              <img src="{{ receita.image }}" alt="Imagem da receita {{ receita.title }}"></div>
              <div class="foodfy__main__popular-info">
                <h3>{{ receita.title }}</h3>
                <h4>por {{ receita.author }}</h4>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>
    </main>
  {% endblock %}